@font-face {
  src: url("/assets/fonts/Montserrat-Black.ttf");
  /* url("") format("ttf"); */
  font-family: 'Montserrat'; 
}
h1 {
  color: rgb(202, 164, 115);
}
/* < !--Lena start--> */
.footer__rectangle {
  height: 385px;
  width: 1804px;
  background-color: #8081BD;
  border-radius: 20px;
}
.footer__rectangle__text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}
.footer__rectangle__text-small {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.footer__submit {
  display: flex;
}
#telephone {
  background: #FFFFFF;
  border-radius: 50px;
  border: none;
}
.footer__submit__btn {
  text-transform: uppercase;
  background: #F6B31F;
  border-radius: 50px;
  border: none;
}
.footer__user {
  color:white;
  font-size: 10px;
}
/* < !--Lena finish--> */
        /* < !-- Диана Header начало--> */
        
        /* < !-- Диана Header конец--> */