@font-face {
  src: url("/assets/fonts/Montserrat-Black.ttf");
  /* url("") format("ttf"); */
  font-family: "Montserrat";
}

/* < !--Lena start--> */
.footer__rectangle {
  height: 385px;
  width: 1804px;
  background-color: #8081bd;
  border-radius: 20px;
}
.footer__rectangle__text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}
.footer__rectangle__text-small {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.footer__submit {
  display: flex;
}
#telephone {
  background: #ffffff;
  border-radius: 50px;
  border: none;
}
.footer__submit__btn {
  text-transform: uppercase;
  background: #f6b31f;
  border-radius: 50px;
  border: none;
}
.footer__user {
  color: white;
  font-size: 10px;
}
/* < !--Lena finish--> */

/* < !-- Ana Header_main начало--> */

.container_header_main_1 {
  background-color: #fddc4e;
}
.container_header_main_2 {
  background-color: #8081bd;
}
.header_form {
  display: flex;
  flex-direction: column;
}

/* < !-- Ana Header_main конец--> */

/* < !-- Shachnoz Header_main начало--> */

/* < !-- Shachnoz Header_main конец--> */
